<body>
    <table class="body">
        <tr>
            <td class="center" align="center" valign="top">
                <center>
                    {{ include('asna-header.twig') }}
                    <br>

                    <table class="container">
                        <tr>
                            <td>
                                {{ include('headline.twig') }}
                                {{ include('subhead.twig') }}

                                <!-- content start -->
                                <table class="row">
                                    <tr>
                                        <td class="wrapper">

<!--                                             <table class="six columns">
                                                <tr>
                                                    <td>
                                                        <h5>Go mobile with ILE RPG</h5>
                                                    </td>
                                                    <td class="expander"></td>
                                                </tr>
                                            </table>

 -->                                            <table class="six columns">
                                                <tr>
                                                    <td>
                                                        <p>{{ paragraph1 | raw }}</p>
                                                        <p>{{ paragraph2 | raw }}</p>
                                                        <p>{{ paragraph3 | raw }}</p>
                                                        <p>{{ paragraph4 | raw }}</p>
                                                    </td>
                                                    <td class="expander"></td>
                                                </tr>
                                            </table>

                                            <table class="row">
                                                <tr>
                                                    <td class="wrapper">
                                                        <table class="six columns">
                                                            <tr>
                                                                <td class="center panel">
                                                                    <center class="main-subhead">{{ smallheadline | raw }}</center>
                                                                </td>
                                                                <td class="expander"></td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td class="expander"></td>
                                                </tr>
                                            </table>
                                        </td>

                                        <td class="wrapper last">

                                            <table class="row">
                                                <tr>
                                                    <td class="wrapper">
                                                        <table class="six columns">
                                                            <tr>
                                                                <td class="center panel">
                                                                    <center class="main-headline">Attend our free Webcast!</center>
                                                                    <center class="main-subhead">ASNA Mobile RPG in action!</center>
                                                                    <center class="main-subhead">Thursday, September 3rd</center>
                                                                    <center class="main-subhead">1pm CDT</center>
                                                                </td>
                                                                <td class="expander"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <table class="button">
                                                                        <tr>
                                                                            <td>
                                                                                <a href="https://asna.com/us/events/webcasts/mrpg/i2015095578b1451ac77076206723/register">Register now!</a>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                                <td class="expander"></td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                            <hr/>

                                            <table class="row">
                                                <tr>
                                                    <td class="wrapper">
                                                        <table class="six columns">
                                                            <tr>
                                                                <td class="center">
                                                                    <center>
                                                                        <table>
                                                                            <tr>
                                                                                <td class="center">
                                                                                    <center>
                                                                                        <img class="center" src="http://i.imgur.com/gHLbFq0.png" />
                                                                                    </center>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </center>
                                                                </td>
                                                                <td class="expander"></td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>

                                            <table class="six columns">

                                                <tr>
                                                    <td class="panel">
                                                        <table class="button">
                                                            <tr>
                                                                <td>
                                                                    <a href="https://asna.com/us/products/mobile-rpg">Read more about Mobile RPG</a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                        <br/> ASNA Mobile RPG empowers your RPG programmers to create mobile IBM&nbsp;i apps using ILE RPG. No need for JavaScript, HTML, or other technologies traditionally required to create mobile apps.
                                                    </td>
                                                    <td class="expander"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <br>
                                <br>
                            </td>
                        </tr>
                    </table>

                </center>
            </td>
        </tr>
    </table>
</body>